@font-face {
  font-family: "Handwriting";   /*Can be any text*/
  src: local("Hand-Regular"),
    url("/src/assets/Hand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Headers";   /*Can be any text*/
  src: local("Headers_new-Regular"),
    url("/src/assets/Headers_new-Regular.ttf") format("truetype");
}
