html {
  scroll-behavior: smooth;
}

.showingdrawing {
 max-height: 35vh;
 height: auto;
 width: auto;
}

.sliding {
  padding-bottom: 20vh;
}

.sliding-public {
  width: auto;
  height: auto;
}

#show-images-button{
  width:90vw;
  height: 90vh;
  border-style: none;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 10;
  left: 50%;
  background-color: rgba(255, 0, 0, 0.079);
  position: fixed;

}

#show-images-button-text{
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-style: none;
  right: 10vw;
  top: 40%;
  position: fixed;
  font-size: 40px;
  z-index: 20;
}

.showingdrawing:hover {
  transform: scale(1.02);
 }

.center {
  text-align: center;
}

#login {
  padding-top: 20vh;
}

#button-login {
  border-style: hidden;
  outline: none;
  background-color:rgba(0, 0, 0, 0.394);
  font-size: 2vw;
  color: black;
  margin-top: 3vw;
  padding: 1vw;
  border-radius: 100%;
}

#button {
  border-style: hidden;
  outline: none;
  background-color:transparent;
  font-size: 30px;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.pregunta {
  font-size: 4vh;
  color: rgb(5, 27, 5);
  width: 8vh;
  height: 8vh;
  background-color: transparent;
  background-image: url('https://static.vecteezy.com/system/resources/previews/010/331/351/original/watercolor-paint-stains-backgrounds-art-element-illustration-for-your-design-free-png.png');
  background-size: 8vh, 8vw;
  background-repeat: no-repeat;
  border-style: none;
  font-family: 'Headers', 'Handwriting';
  z-index: 10;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: absolute;
  top: 11vh;
  right: 7vw;

}

.myform {
  text-align:center;
  
}

.background {
  width: 100vw;
  height: 400%;
  /* transform: translate(0%, -13%); */
  z-index: 0;
  background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1688241761/background_nexxec.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  
}
/* <input autofocus={(window.screen.width <= 480) ? false : true } */
#scrollto {
background-color: transparent;
width: 40vw;
height: 40vh;
top: 42vw;
position: absolute;
left: 50vw;
z-index: 5;
transform: translate(-50%, -50%);
}

.heading-enter {
  font-family: "Headers", sans-serif;
  position: fixed;
  z-index: 15;
  text-decoration: none;
  color: rgba(13, 45, 13, 0.815);
  top: 40vh;
  right: 50vw;
  font-size: 10vw;
  transform: translate(50%,-50%);
}

#myform {
  border-style: hidden;
  outline: none;
  background-color:rgba(185, 185, 185, 0.343);
  color: rgb(8, 29, 8);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#myform-main {
  border-style: hidden;
  font-family: "Handwriting", sans-serif;
  width: 75vw;
  outline: none;
  font-size: 15vw;
  background-image: url("https://res.cloudinary.com/dygjz8yhp/image/upload/v1688166733/line_new_wdf96n.png");
  background-size: contain;
  color: rgb(8, 29, 8);
  padding-bottom: 4vw;
  margin-bottom: 2vw;
  margin-top: 5vw;

  
  border-radius: 0px;
  background-repeat: no-repeat;
}

#drawing{
  padding: 10px;

}

.delete{
  padding: 20px;
}

.heading {
  font-family: 'Headers', Helvetica, sans-serif;
  text-align: center;
}

.heading-noresults {
  font-family: 'Headers', Helvetica, sans-serif;
  width: 60%;
  font-size: 6vw;
  padding-left: 25%;
  animation: test-spin 7s infinite linear;
}

@keyframes test-spin {
    0% { transform: scale(1.01); color: lightgrey}
    25% {transform: scale(1); color: grey}
    50% {transform: scale(1.01); color: lightgrey}
    75% { transform: scale(1); color: rgb(73, 120, 114)}
    100% { transform: scale(1.01); color: lightgrey}




  }


.heading-login {
  font-family: 'Headers', Helvetica, sans-serif;
  text-align: center;
  font-size: 5vw;
}

.heading-contact {
  padding-top: 10vh;
  font-family: 'Headers', Helvetica, sans-serif;
  text-align: center;
  font-size: 10vw;
}

.handwriting {
  font-family:'Handwriting', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

#handwriting {
  font-size: 2vh;
  max-width: 400px;

}

#drawings-index {
  z-index: 3;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  text-align: center;
  padding-bottom: 200px;
}

.home {
  background-color: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.landing{
  background-color:rgb(185, 152, 110);
}

.body {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

#footer {
  font-family: "Handwriting";
  height:auto;
  width: 100%; 
  padding-top: 1vh;
  background-color: white;
  position: fixed;
  bottom: 0vh;
  font-size: 1.5vh;
  left: 0pt;

}

#foot {
  color: blue;
  font-family: "Headers";
  font-size: 3.5vh;
  text-decoration: none;
}

