.right-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-style: none;
  right: 2vw;
  top: 40%;
  position: fixed;
  font-size: 40px;
}

.right-button:hover {
  transform: scale(1.2);
}


.left-button:hover {
  transform: scale(1.2);
}

.carousel img {
    object-fit: contain;
}

.left-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-style: none;
  left: 2vw;
  top: 40%;
  position: fixed;
  font-size: 40px;
  z-index: 20;
}

.thumb{
  /* max-height: 40vh;
  max-width: 40vw;
  top: -3vh;
  left: 6vw;
  position: relative; */
  height: 0px;
  width: 0px;
  position: fixed;

}

#paras{
  text-align: center;
  max-width: 50vw;
  padding-top: 1vh;
  font-family: "Handwriting";
  position: relative;
  transform: translate(0%, 0%);
  justify-content: center;

}

#paras-public{
  text-align: center;
  max-width: 50vw;
  font-family: "Handwriting";
  position: absolute;
  bottom: -9vh;
  transform: translate(2.5%, 50%);

}

#slide-small{
  max-width: 30vw;
  max-height: 40vh;
  display: inline-flex;
  justify-content: center;
  position: relative;
  top: 0em;
  left: 0em;
  flex-wrap: wrap;
  text-align: center;
}

.carousel-root{
  background-color:transparent;
  height: auto;
}

#slide-image{
  max-height: 70vh;
  max-width: 70vw;

}

#slide-public{
  max-width: 100vw;
  height: auto;
  width: auto;
  display: inline-flex;
  justify-content: center;
  position: relative;
  top: 0em;
  left: 0em;
  flex-wrap: wrap;
  text-align: center;
}


#slide-image-public{
  max-height: 100vh;
  height: 80vh;
  width: 80vw;

}